.jumbotron {
	text-align: center;
	margin-bottom: 0px;
}

.jumbotron-fluid {
	margin-top: 0px;
	background-color: white;

}

.jumbotron-fluid h1, h2{
	color: darkgrey;
}
.jumbotron-fluid p{
	color: black;
}
.card {
	padding: 40px;
	background-color: #343a40;
	color: white;
	border-color: white;
}
.card h2{
	color: #adebad;
}
.note {
	color: red;
}
.splash {
	background-image: url("img/canna1.jpeg");
	background-repeat: no-repeat, repeat;
	background-size: cover;
}
.title {
	color: #adebad;
	font-weight: bolder;
	text-shadow: 2px 2px black;

}
.lead {
	color: #adebad;
}
.blurb {
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px black;

}
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: white;
}